@charset "UTF-8";
* {
  box-sizing: border-box;
}

body {
  min-width: 375px;
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: sans-serif;
  color: #1e2234;
  background: #f1f2f3;
}

main {
  padding: 20px;
}

b {
  /*font-weight: normal;*/
}

button {
  height: 36px;
  padding: 0 10px;
  background: white;
  border: none;
  border-radius: 4px;
  box-shadow: 0 2px 3px 0 rgba(30, 34, 52, 0.1);
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  padding: 0 12px;
  border-bottom: 3px solid rgba(30, 34, 52, 0.06);
}
header h1 {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
}
header h1 b {
  display: block;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0.2em;
}
header h1 b i::after {
  content: "＊";
  font-style: normal;
}
header h1 b.langEn {
  letter-spacing: 0.1em;
}
header .home {
  transition: all 0.1s linear;
  opacity: 1;
  line-height: 0;
}
header .home:hover {
  opacity: 0.72;
}
header .home img {
  width: 20px;
}
header select {
  display: none;
  width: 40px;
  height: 24px;
  font-size: 14px;
  font-weight: normal;
  border: none;
}

a,
input,
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.btn, .formBase .param .radioBtn:checked + label, .formBase .param .radioBtn + label, .radioBtn + label, .radioBtn:checked + label {
  transition: all 0.1s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
  width: 80px;
  border-radius: 4px;
  cursor: pointer;
  -webkit-user-select: none;
          user-select: none;
}
.btnOn, .radioBtn:checked + label {
  color: #fefefe;
  background: linear-gradient(90deg, #db5876, #e67959);
  border: none;
}
.btnOff, .radioBtn + label {
  color: rgba(30, 34, 52, 0.36);
  border: 1px solid rgba(30, 34, 52, 0.24);
}
.btnReset {
  width: 80px;
}

.radioBtn {
  display: none;
}
.radioBtn + label {
  margin-right: 8px;
}

.input,
select {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 36px;
  font-size: 18px;
  font-weight: bold;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(30, 34, 52, 0.16);
}
.input:focus,
select:focus {
  color: #db5876;
  border-color: #db5876;
  outline: none;
}
.input::selection,
select::selection {
  color: #db5876;
}

.formBase > div {
  margin-bottom: 20px;
}
.formBase > div > div {
  display: flex;
}
.formBase > div b {
  display: block;
  margin-bottom: 3px;
}
.formBase .param .radioBtn:checked + label, .formBase .param .radioBtn + label {
  width: 36px;
}
.formBase .exps {
  display: flex;
}
.formBase .exps > div {
  display: block;
}
.formBase .exps .expCurrent {
  position: relative;
  margin-right: 60px;
}
.formBase .exps .expCurrent::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  left: 112px;
  width: 1px;
  height: 36px;
  background: #1e2234;
  transform: rotate(30deg);
}
.formBase .expNext input {
  width: 80px;
}

.results {
  background: #fefefe;
  margin-bottom: 20px;
}
.results .expResult {
  display: flex;
  align-items: center;
  height: 72px;
  padding: 0 20px;
  border-bottom: 1px solid rgba(30, 34, 52, 0.1);
}
.results .expResult > span {
  display: inline-block;
  margin-right: 12px;
}
.results .expResult b {
  font-size: 30px;
  font-weight: normal;
}
.results .expResult b small {
  color: rgba(30, 34, 52, 0.2);
}
.results .formExpItems > div > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 5px 0;
}
.results .formExpItems > div > div label {
  display: flex;
  align-items: center;
}
.results .formExpItems > div > div label span {
  width: 100px;
}
.results .formExpItems > div > div label small {
  font-size: 11px;
  color: rgba(30, 34, 52, 0.4);
}
.results .formExpItems > div > div input[type=number] {
  width: 60px;
}
.results .formExpItems .expItems {
  padding: 10px 15px;
}
.results .formExpItems .expItems .icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  font-size: 10px;
  font-style: normal;
  color: #fefefe;
  border-radius: 99px;
}
.results .formExpItems .expItems.relLv .icon {
  background: #efd309;
}
.results .formExpItems .expItems.relHp .icon {
  background: #64bee6;
}
.results .formExpItems .expItems.relPa .icon {
  background: #ea8282;
}
.results .formExpItems .expItems.relPd .icon {
  background: #6c94ed;
}
.results .formExpItems .expItems.relMa .icon {
  background: #e68fd2;
}
.results .formExpItems .expItems.relMd .icon {
  background: #b085eb;
}

.bottoms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bottoms p span {
  opacity: 0.4;
  display: inline-block;
  margin-right: 4px;
  font-size: 11px;
}

.fa-twitter {
  transition: all 0.1s linear;
  opacity: 0.4;
  font-size: 16px;
  color: #1e2234;
}
.fa-twitter:hover {
  opacity: 1;
}

.langEn {
  display: none !important;
}

@media screen and (max-width: 750px) {
  /*
  $pixel:0.5px;
  .btn{
    &Off{border-width:$pixel;}
  }
  .input,
  select{border-width:$pixel;}
  .results{
    .expResult{border-bottom-width:$pixel;}
  }
  */
}
@media screen and (min-width: 750px) {
  .btnOn:hover, .radioBtn:checked + label:hover {
    color: #fefefe;
  }
  .btnOff:hover, .radioBtn + label:hover {
    color: rgba(30, 34, 52, 0.6);
    border-color: rgba(30, 34, 52, 0.6);
  }
}