@import "../../assets/core";

@import url('https://fonts.googleapis.com/css?family=Didact+Gothic&display=swap');

$yellow:rgb(239,211,9);
$lightblue:rgb(100,190,230);
$red:rgb(234,130,130);
$blue:rgb(108,148,237);
$pink:rgb(230,143,210);
$violet:rgb(176,133,235);

$clBase:rgb(240,241,243);
$clKey:rgb(219,88,118);
$clKeyGrad:linear-gradient(90deg,rgb(219,88,118),rgb(230,121,89));
$clDark:rgb(30,35,51);
@function clDark($op:1) {
  @return rgba(30,35,51,$op);
}
$clWhite: rgb(254,254,254);
@function clWhite($op:1) {
  @return rgba(254,254,254,$op);
}
$clCaution: rgb(248,64,64);
$clClear: rgba(0,0,0,0);

$pixel:1px;

@mixin centerXY{display:flex;justify-content: center;align-items: center;}
@mixin centerY{display:flex;align-items: center;}

@mixin anime{transition:all 0.1s linear;}
@mixin animeOp{@include anime;opacity:1;
  &:hover{opacity:0.72;}
}

// UIKIT.CSCC OVERWRITE
.radio-group{display:flex;overflow:hidden;width: 100%;max-width:335px;background: $clWhite;border:none;border-radius:4px;
  input[type="radio"]{display:none;
    & + label{display:flex;justify-content: center;align-items: center;width: 100%;height:40px;border-right:none;}
    &:last-of-type + label{border:none;}
    &:checked + label{color:$clWhite;background: $clKeyGrad;}
  }
}
.spin{display:grid;grid-template-columns: 30px calc(140px - 60px) 30px;align-items: center;width:140px;background: $clWhite;border:none;border-radius:4px;
  &-plus{grid-column-start: 3;grid-column-end: 4;grid-row-start: 1;border-left:1px solid black;}
  &-minus{grid-column-start: 1;grid-column-end: 2;grid-row-start: 1;border-right:1px solid black;}
  input,
  button{height:36px;background: none;}
  input{width: 80px;height: 40px;padding:0 10px;border-left:1px solid clDark(0.06);border-right:1px solid clDark(0.06);}
  button{@include centerXY;@include anime;width: 30px;height: 40px;font-size: 20px;border:none;box-shadow:none;
    &:hover{color:$clKey;cursor:pointer;}
  }
}


// ORIGINAL
*{box-sizing: border-box;}
body{min-width: 375px;margin:0;padding:0;font-size: 14px;font-family: sans-serif;color:$clDark;background: $clBase;}
main{margin: 0 auto;padding:5px 0 20px 0;margin:0 auto;}
b{font-weight: normal;}
button{height:36px;padding:0 10px;background: white;border:none;border-radius:4px;box-shadow:0 2px 3px 0 clDark(0.1);}
header{display:flex;justify-content: center;height: 110px;padding:20px 12px 0;align-items: center;line-height: 1.4;
  h1{width: 100%;text-align: center;
    b{display:block;font-size: 20px;font-weight: bold;letter-spacing: 0.2em;
      i::after{content:'＊';font-style: normal;}
      &.langEn{letter-spacing: 0.1em;}
      small{display:block;font-size: 11px;font-weight: normal;text-align: center;font-family: 'Didact Gothic', sans-serif;}
    }
  }
  .home{@include animeOp;display:none;line-height: 0;
    img{width: 20px;}
  }
  select{display:none;width: 40px;height: 24px;font-size: 14px;font-weight: normal;border:none;}
}
a,
input,
label,
button{-webkit-tap-highlight-color:rgba(0,0,0,0);outline:none;}

.btn{@include anime;display:flex;justify-content: center;align-items: center;height: 36px;width: 80px;border-radius:4px;cursor: pointer;user-select: none;
  &On{color:$clWhite;background: $clKeyGrad;border:none;}
  &Off{color:clDark(0.36);border:$pixel solid clDark(0.24);}
  &Reset{width: 80px;}
}
.radioBtn{display:none;
  &:checked + label{@extend .btnOn;}
  & + label{@extend .btnOff;border:none;cursor: pointer;}
}
.input,
select{display: flex;justify-content: center;align-items: center;width: 80px;height: 40px;font-size: 18px;border:none;
  &:focus{color:$clKey;}
  &::selection{color: $clKey;}
}
input{padding:0 5px;text-align: right;}
select{width: 140px;padding:0 8px;text-align: right;background: $clWhite;border:none;border-radius:4px;cursor:pointer;}

.formBase{padding:0 20px;
  & > div{margin-bottom:22px;
    &:last-of-type{margin-bottom: 30px;}
    & > div{display: flex;}
    b{display:block;margin-bottom:4px;}
  }
  .exps{display: flex;justify-content: space-between;position: relative;
    & > div{display: block;}
    .expCurrent{position:relative;}
    .expMax{flex-wrap:wrap;width: 140px;
      & > label{position: relative;
        small{display:inline-block;position:absolute;top:70px;left:0;width: 140px;font-size: 11px;color:$clCaution;
          i{margin-right: 3px;}
        }
      }
    }
    .slash{display:block;position: absolute;bottom:0;left:calc(50% + 0.5px);width: 1px;height: 40px;background: $clDark;transform: rotate(30deg);}
  }
}


.results{overflow:hidden;margin:0 auto 20px;width: 355px;color:$clWhite;background: rgb(43,46,69);border-radius:6px;
  .expResult{@include centerY;justify-content: space-between;height: 72px;padding:0 20px;background: $clDark;
    & > span{display:inline-block;margin-right: 12px;}
    b{font-size: 30px;font-weight: normal;
      small{color: clWhite(0.4);}
    }
  }
  .formExpItems{
    & > div{
      & > div{@include centerY;justify-content: space-between;margin:5px 0;
        label{@include centerY;
          span{width: 100px;font-size: 12px;}
          small{font-size: 11px;color:clWhite(0.4);}
        }
        input[type="number"]{width: 60px;color:$clWhite;border-bottom-color:clWhite(0.16);
          &:hover{border-bottom-color:$clKey;}
        }
        .spin{grid-template-columns: 24px calc(112px - 48px) 24px;width: 112px;background: clWhite(0.06);
          input{width: 64px;height:32px;padding:0 8px;border-left:1px solid clDark(0.5);border-right:1px solid clDark(0.5);}
          button{width: 24px;height: 32px;color:clWhite(1);
            &:hover{color:$clKey;cursor:pointer;}
          }
        }
      }
    }
    .expItems{flex-wrap:wrap;width: 100%;padding:10px 15px;
      & > div{width: 100%;}
      .icon{@include centerXY;width: 18px;height: 18px;margin-right: 8px;font-size: 10px;font-weight: bold;font-style: normal;color:rgb(43,46,69);border-radius:99px;}
      &.relLv{
        .icon{background: $yellow;}
      }
      &.relHp{
        .icon{background: $lightblue;}
      }
      &.relPa{
        .icon{background: $red;}
      }
      &.relPd{
        .icon{background:$blue;}
      }
      &.relMa{
        .icon{background: $pink;}
      }
      &.relMd{
        .icon{background: $violet;}
      }
    }
  }
}


.bottoms{@include centerY;justify-content: space-between;padding:0 20px;
  p span{opacity:0.4;display:inline-block;margin-right: 4px;font-size: 11px;}
}
.fa-twitter {transition:all 0.1s linear;opacity:0.4;font-size: 16px;color:rgb(30,34,52);
  &:hover {opacity:1;}
}

.lang{
  &Ja{}
  &En{display:none !important;}
}

// SP
@media screen and (max-width:750px){
  .radio-group{width: calc(100vw - 40px);}
  main{width: 100vw;max-width:375px;}
}

//PC
@media screen and (min-width:750px){
  // PCブラウザ標準のスピンボタン非表示
  input{
    &[type="number"]::-webkit-outer-spin-button,
    &[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none;margin: 0;}
    &[type="number"] {-moz-appearance:textfield;}
  }
  // 長押し時のメニュー非表示
  .spin-plus,
  .spin-minus{-webkit-touch-callout:none;}
  main{width: 375px;}
  .btn{
    &On{
      &:hover{color:$clWhite;}
    }
    &Off{
      &:hover{color:clDark(0.6);border-color:clDark(0.6);}
    }
  }
  .formBase{
    .exps{
      .slash{left:167.5px;}
    }
  }
}