$yellow:rgb(239,211,9);
$lightblue:rgb(100,190,230);
$red:rgb(234,130,130);
$blue:rgb(108,148,237);
$pink:rgb(230,143,210);
$violet:rgb(176,133,235);

$clBase:rgb(241,242,243);
$clKey:rgb(219,88,118);
$clKeyGrad:linear-gradient(90deg,rgb(219,88,118),rgb(230,121,89));
$clDark:rgb(30,34,52);
@function clDark($op:1) {
  @return rgba(30,34,52,$op);
}
$clWhite: rgb(254,254,254);
$clClear: rgba(0,0,0,0);

@mixin centerXY{display:flex;justify-content: center;align-items: center;}
@mixin centerY{display:flex;align-items: center;}

@mixin anime{transition:all 0.1s linear;}
@mixin animeOp{@include anime;opacity:1;
  &:hover{opacity:0.72;}
}

*{box-sizing: border-box;}
body{min-width: 375px;margin:0;padding:0;font-size: 12px;font-family: sans-serif;color:$clDark;background: $clBase;}
main{padding:20px;}
b{/*font-weight: normal;*/}
button{height:36px;padding:0 10px;background: white;border:none;border-radius:4px;box-shadow:0 2px 3px 0 clDark(0.1);}
header{display:flex;justify-content: center;align-items: center;height: 50px;padding:0 12px;border-bottom:3px solid clDark(0.06);
  h1{width: 100%;font-size: 14px;font-weight: normal;
    b{display:block;font-size: 14px;font-weight: normal;letter-spacing: 0.2em;
      i::after{content:'＊';font-style: normal;}
      &.langEn{letter-spacing: 0.1em;}
    }
  }
  .home{@include animeOp;line-height: 0;
    img{width: 25px;}
  }
  select{display:none;width: 40px;height: 24px;font-size: 14px;font-weight: normal;border:none;}
}

.btn{@include anime;display:flex;justify-content: center;align-items: center;height: 36px;width: 80px;border-radius:4px;cursor: pointer;user-select: none;
  &On{color:$clWhite;background: $clKeyGrad;border:none;
    &:hover{color:$clWhite;}
  }
  &Off{color:clDark(0.36);border:1px solid clDark(0.24);
    &:hover{color:clDark(0.6);border-color:clDark(0.6);}
  }
  &Reset{width: 80px;}
}
.radioBtn{display:none;
  &:checked + label{@extend .btn,.btnOn;}
  & + label{@extend .btn,.btnOff;margin-right:8px;}
}
.input,
select{display: flex;justify-content: center;align-items: center;width: 80px;height: 36px;font-size: 18px;font-weight: bold;background:none;border:none;border-bottom:1px solid clDark(0.16);
  &:focus{color:$clKey;border-color:$clKey;outline:none;}
  &::selection{color: $clKey;}
}

.formBase{
  & > div{margin-bottom:20px;
    & > div{display: flex;}
    b{display:block;margin-bottom:3px;}
  }
  .param{
    .radioBtn{
      &:checked + label,
      & + label{@extend .btn;width: 36px;}
    }
  }
  .exps{display: flex;
    & > div{display: block;}
    .expCurrent{position:relative;margin-right:60px;
      &::after{content:'';display:block;position: absolute;bottom:0;left:112px;width: 1px;height: 36px;background: $clDark;transform: rotate(30deg);}
    }
    .expMax{}
  }
  .expNext{
    input{width: 80px;}
  }
}


.results{background: $clWhite;margin-bottom:20px;
  .expResult{@include centerY;height: 72px;padding:0 20px;border-bottom: 1px solid clDark(0.1);
    & > span{display:inline-block;margin-right: 12px;}
    b{font-size: 30px;font-weight: normal;
      small{color: clDark(0.2);}
    }
  }
  .formExpItems{
    & > div{
      & > div{@include centerY;justify-content: space-between;margin:5px 0;
        label{@include centerY;
          span{width: 100px;}
          small{font-size: 11px;color:clDark(0.4);}
        }
        input[type="number"]{width: 60px;}
      }
    }
    .expItems{padding:10px 15px;
      .icon{@include centerXY;width: 18px;height: 18px;margin-right: 8px;font-size: 10px;font-style: normal;color:$clWhite;border-radius:99px;}
      &.relLv{
        .icon{background: $yellow;}
      }
      &.relHp{
        .icon{background: $lightblue;}
      }
      &.relPa{
        .icon{background: $red;}
      }
      &.relPd{
        .icon{background:$blue;}
      }
      &.relMa{
        .icon{background: $pink;}
      }
      &.relMd{
        .icon{background: $violet;}
      }
    }
  }
}


.bottoms{@include centerY;justify-content: space-between;
  p span{opacity:0.4;display:inline-block;margin-right: 4px;font-size: 11px;}
}
.fa-twitter {transition:all 0.1s linear;opacity:0.4;font-size: 16px;color:rgb(30,34,52);
  &:hover {opacity:1;}
}

.lang{
  &Jp{display:none !important;}
  &En{}
}


