@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* :visited {
  color: #202223;
}

html {
  font-size: 6.25%;
}

body {
  font-size: 14rem;
  color: #202223;
  font-family: "Noto Sans JP", sans-serif;
  background: #f1f2f3;
}

a {
  text-decoration: none;
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
}

main {
  display: grid;
  grid-template-columns: 240rem 240rem 240rem 240rem 240rem;
  justify-content: center;
}
main > div {
  padding: 10px;
}
h1 img {
  width: 100px;
}
h1 span {
  display: block;
  font-size: 14rem;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.24em;
}
h1 span::before {
  content: "";
  width: 0.24em;
}

.card {
  transition: border 0.1s linear;
  display: block;
  padding: 20px;
  height: 100%;
  border: 2px solid #f1f2f3;
}
.card:hover {
  border: 2px solid #202223;
}
.cardTitle {
  font-size: 18rem;
  font-weight: normal;
  margin-bottom: 10px;
}
.cardDescription {
  color: rgba(32, 34, 35, 0.4);
  font-size: 14rem;
  line-height: 1.4;
}