@import "core";
@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap');

$clBase:rgb(241,242,243);
$clFont:rgb(32,34,35);
@function clFont($x:1){
  @return rgba(32,34,35,$x);
};
$clWhite:rgb(253,254,255);

$fzS:12rem;
$fzM:14rem;
$fzL:18rem;

$col:240rem;

*{box-sizing:border-box;margin:0;padding:0;
  :visited{color:$clFont;}
}
html{font-size:6.25%;}
body{font-size: $fzM;color:$clFont;font-family: 'Noto Sans JP', sans-serif;background:$clBase;}
a{text-decoration: none;cursor:pointer;}
header{display:flex;justify-content: center;align-items: center;height: 200px;}
main{display: grid;grid-template-columns:$col $col $col $col $col;justify-content: center;
  & > div{padding:10px;
    &:nth-of-type(5n-4),
    &:nth-of-type(5n-2),
    &:nth-of-type(5n){
      //background: clFont(0.04);
    }
    &:nth-of-type(5n-3),
    &:nth-of-type(5n-1){
      //background: $clWhite;
    }
  }
}
h1{
  img{width: 100px;}
  span{display:block;font-size:$fzM;font-weight: normal;text-align: center;letter-spacing: 0.24em;
    &::before{content:'';width: 0.24em;}
  }
}
.card{transition:border 0.1s linear;display:block;padding:20px;height: 100%;border:2px solid $clBase;
  &:hover{border:2px solid $clFont;}
  &Title{font-size:$fzL;font-weight: normal;margin-bottom: 10px;}
  &Description{color:clFont(0.4);font-size:14rem;line-height: 1.4;}
}