@import url("https://fonts.googleapis.com/css?family=Noto+Sans+JP:300&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 6.25%;
}

body {
  min-width: 960px;
  font-size: 12rem;
  color: #fbfcfd;
  font-family: "Noto Sans JP", sans-serif;
  background: #16181d;
}

.wrapper {
  display: flex;
  flex-direction: row-reverse;
}

.sidebar {
  position: fixed;
  left: 0;
  width: 160px;
  height: 100vh;
  padding: 0 20px;
}
.sidebar h1 {
  padding: 20px 0;
  font-size: 20rem;
}

main {
  position: relative;
  width: calc(100% - 200px);
  min-height: 100vh;
  background: #1f212b;
}
main > header, main > #booklist > div {
  display: grid;
  grid-template-columns: 36% 18% 16% 24% 6%;
  align-items: center;
  height: 40px;
  padding: 0 10px;
}
main > header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #5b5e6b;
  background: #1f212b;
  border-bottom: 1px solid #323339;
}
main > header p {
  padding: 0 10px;
  font-size: 11rem;
}
main > #booklist > div:nth-of-type(2n) {
  background: #23252f;
}

.bookTitle, .bookAuthor, .bookCategory, .bookDescription, .bookShelf {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 10px;
}
.bookTitle {
  font-size: 12rem;
  font-weight: normal;
}
.bookAuthor, .bookCategory {
  display: flex;
}
.bookAuthor li, .bookCategory li {
  list-style-type: none;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  height: 20rem;
  margin-right: 1em;
}
.accordion {
  overflow: hidden;
}
.accordion > div:first-of-type {
  display: flex;
  align-items: center;
  position: relative;
  padding: 8px 0;
  font-size: 14rem;
  cursor: pointer;
}
.accordion > div:first-of-type::after {
  content: "";
  display: block;
  position: absolute;
  right: 2px;
  width: 5px;
  height: 5px;
  margin-top: 0;
  border-left: 1px solid #fbfcfd;
  border-bottom: 1px solid #fbfcfd;
  transform: rotate(-225deg);
  transition: all 0.2s ease;
}
.accordion > div:first-of-type > i {
  width: 20px;
}
.accordion > div:last-of-type {
  overflow: hidden;
}
.accordion > div:last-of-type > div {
  padding: 0 0 8px 0;
}
.accordion > div:last-of-type > div input[type=radio] {
  display: none;
}
.accordion > div:last-of-type > div input[type=radio] + label {
  transition: all 0.1s linear;
  display: flex;
  margin-left: 20px;
  align-items: center;
  height: 24px;
  color: #5b5e6b;
  cursor: pointer;
}
.accordion > div:last-of-type > div input[type=radio] + label:hover {
  color: #fbfcfd;
}
.accordion > div:last-of-type > div input[type=radio]:checked + label {
  color: #fbfcfd;
}
.accordion.close > div:first-of-type::after {
  margin-top: -3px;
  transform: rotate(-405deg);
}